/*Fonts*/

@font-face{
	font-family: "NetflixSansLight";
	src: url("fonts/NetflixSansLight.ttf");
}
@font-face{
	font-family: "NetflixSansRegular";
	src: url("fonts/NetflixSansRegular.ttf");
}
@font-face{
	font-family: "NetflixSansMedium";
	src: url("fonts/NetflixSansMedium.ttf");
}
@font-face{
	font-family: "NetflixSansThin";
	src: url("fonts/NetflixSansThin.ttf");
}
@font-face{
	font-family: "NetflixSansBlack";
	src: url("fonts/NetflixSansBlack.ttf");
}

/*Main*/

*{
	background: rgba(20, 20, 20);
	margin: 0px;
	list-style: none;
}

/*Header*/

header{
	display: block;
	height: 70px;
	width: 100%;
	background: rgba(12, 12, 12, 0.5);
	position: fixed;	/*This make the header stay fixed in his position when we scroll the page*/
	margin-top: 0px;
	top: 0;		/*This attach the header to the top of the page on every situation*/
	z-index: 3;
}
.list ul{
	background: rgba(12, 12, 12);
	padding-right: 0px;
  	padding-left: 0px;
   	padding-bottom: 0px;
   	padding-top: 0px;
 	margin: 0px;
 	margin-top: 25px;
 	margin-left: 100px;
}
.list li{
	list-style-type: none;
   	display: inline;
   	background: rgba(12, 12, 12);
   	padding: 10px;
}
.list a{
	font-family: "NetflixSansRegular", Arial;
	font-size: 14px;
	color: rgba(229, 229, 229);
	background: rgba(12, 12, 12);
}
.list-left a:hover{
	color: rgba(170, 176, 173);
	transition: 400ms;
	cursor: pointer;
}
.logo{
	width: 170px;
	height: 70px;
	background: rgba(12, 12, 12);
	float: left;
}
.logo a{
	background: inherit;
}

.logo1{
	width: 95px;
	margin-left: 60px;
	margin-top: 10px;
	background: rgba(12, 12, 12);
}
.list-right{
	display: inline;
	float: right;
	margin-top: -10px;
	margin-right: 5px;
}
.list-right a:hover{
	cursor: pointer;
}
#logo-search{
	width: 23px;
}
#logo-alerts{
	width: 23px;
	margin-top: -3px;
}
#logo-profile{
	width: 33px;
	border-radius: 4px;
	margin-top: -5px;
}
#logo-arrow{
	width: 10px;
	margin-left: -15px;
	margin-right: 42px;
	transition: all 0.30s;
}
#logo-arrow:hover{
	-moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/*Container*/

/* Deployable */
.film, .deployable{
	position: absolute;
}
.film{
	width: 230px;
	height: 125px;
	border-radius: 3px;
	color: white;
	background: rgba(0, 0, 0, 0.2);
	margin-top: 120px;
	margin-left: 6px;
	/*float: right;*/
	z-index: 0;
	transition: all 0.5s;
	position: relative;
	
}
.film:hover{
	cursor: pointer;
	transform: scale(1.3);
	z-index: 2;

}

.deployable{
	width: 230px;
	height: 286px;
	background: green;
	visibility: hidden;
	margin-left: 60px;
	z-index: 1;
	transition: all 0.5s;
}
/*pruebas*/
.content{
	background: green;
	width: 100%;
	height: 100% auto;
	min-height: 1200px;
	position: relative;
}
.content ul{

	background: blue;
	/*height: 120px;*/
	padding-right: 0px;
  	padding-left: 60px;
   	padding-bottom: 0px;
   	padding-top: 0px;
   	margin-left: 0px;
   	margin-top: 100px;
   	/*row*/
   	display: flex;
   	overflow-y: hidden; 
   	overflow-x: scroll;
   	/*overflow: hidden;*/	/*This allow the posters get out the ul when hover*/
   	z-index: 0;

 	 	
}
.content ul::-webkit-scrollbar{
	display: none;
}

.content li{
	list-style-type: none;

			
}





