
<header>
  <!--<div><a><img class = "logo1" src = "assets/img/header/logo1.png"/></a></div>
    <a>Inicio</a>
    <a>Series TV</a>
    <a>Películas</a>
    <a>Novedades más vistas</a>
    <a>Mi lista</a>-->
  <div class = "logo"><a><img class = "logo1" src = "assets/img/header/logo1.png"/></a></div>
  <div class = "list">
      <ul>
          <li><a></a></li>
          <li><a>Inicio</a></li>
          <li><a>Series TV</a></li>
          <li><a>Películas</a></li>
          <li><a>Novedades más vistas</a></li>
          <li><a>Mi lista</a></li>
      </ul>
  </div>

    
</header>
<body class = "content"></body>
