
<header>
  <div class = "logo"><a><img class = "logo1" src = "assets/img/header/logo1.png"/></a></div>
  <div class = "list">
      <ul>
          <li><a></a></li>
          <li class = "list-left"><a>Inicio</a></li>

          <li class = "list-left"><a>Series TV</a></li>

          <li class = "list-left"><a>Películas</a></li>

          <li class = "list-left"><a>Novedades más vistas</a></li>

          <li class = "list-left"><a>Mi lista</a></li>

          <li class = "list-right">
            <a>
              <img id = "logo-arrow" src = "assets/img/header/arrowDown.png"/>
            </a>
          <li>

          <li class = "list-right">
            <a>
              <img id = "logo-profile" src = "assets/img/header/profile.png"/>
            </a>
          </li>

          <li class = "list-right"><a><img id = "logo-alerts" src = "assets/img/header/alerts.png"/></a></li>

          <li class = "list-right"><a>Infantil</a></li>

          <li class = "list-right"><a><img id = "logo-search" src = "assets/img/header/search.png"/></a></li>

      </ul>
  </div>
  <!--<div class = "list-right">
  </div>-->

    
</header>
<body class = "content"></body>
